body {
  display: flex;
  flex-direction: column;
  background-color: orange;
  background-image: url("pics/kingdom_hearts_pattern_by_bebenciukas_brown.jpg");
}

.container{
  margin-top: 1%;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px groove #2C0F0F;
  display: flex;
  align-self: center;
  transform: rotate(1deg)perspective(2000px) rotateX(1deg);
  box-shadow: 10px 10px 5px #2C0F0F;
}

h2{
   font-family: "caribbean";
   font-weight: normal;
   font-style: normal;
   color: #C9A93F;
   font-size: 40px;
   align-self: center;
}

.col{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex:1;
  float: left;
  margin: 2.5px 2.5px;
  text-align: center;
}

.full{
  background-image: url("pics/golden ball.png");
  box-shadow: 10px 10px 5px #2C0F0F;
  transform: rotate(1deg)perspective(2000px) rotateX(1deg);
  cursor: pointer;
}

.empty{
background-color: #2C0F0F;
cursor: pointer;
}

.selected{
  background-image: url("pics/burgundy ball.png");
}

.black{
    background-color: black;
    background-image: url("pics/silver ball.png");
}

#banner{
    font-family: 'Marcellus SC', serif;
    font-size: 50px;
    color:#C9A93F;
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
}

#timer{
  font-family: caribbean;
  font-size: 40px;
  position: absolute;
  color: white;
  margin-left: 70%;
  margin-top: 20%;
}

button{
  margin-top: 2%;
  color: white;
  background-color: #2C0F0F;
  height: 50px;
  width: 150px;
  border: 1px groove #2C0F0F;
  pointer-events: painted brown;
  font-family: 'WaltographRegular';
  font-size: 30px;
  align-self: center;
}

#go-back-button{
  width: 200px;
}

@font-face {
    font-family: 'caribbean';
    src: url("fonts/Caribbean.ttf");
}

a{
  align-self: center;
}

h1{
  font-family: "caribbean";
  font-size: 70px;
  margin-top: 3%;
  color:#C9A93F;
  align-self: center;
}

p{
  font-family: 'Marcellus SC', serif;
  color: white;
  font-size: 25px;
  margin: 1% 5%;
  align-self: center;
}
